In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv("Australian Vehicle Prices.csv")
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

In [26]:
df["UsedOrNew"].value_counts()

UsedOrNew
USED    14994
NEW      1227
DEMO      512
Name: count, dtype: int64

In [27]:
df = df[df["UsedOrNew"] == "USED"]
df

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
5,Toyota,2004.0,Estima,ON FOUR WHEELS,2004 Toyota Estima T EDITION,USED,Automatic,-,Other,Unleaded,-,160230,Grey / -,"Saint Marys, NSW",-,Commercial,NaN,NaN,9990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16728,Nissan,2021.0,Qashqai,SUV,2021 Nissan Qashqai TI,USED,Automatic,"4 cyl, 2 L",Front,Unleaded,6.9 L / 100 km,32977,White / -,"Rocklea, QLD",4 cyl,SUV,4 Doors,5 Seats,36770
16729,Toyota,2014.0,Alphard,SYC Cars,2014 Toyota Alphard,USED,Automatic,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16732,Mercedes-Benz,2016.0,GLC250,SUV,2016 Mercedes-Benz GLC250,USED,Automatic,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,Sedan,2021 Mercedes-Benz C200,USED,Automatic,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [28]:
df["Transmission"].value_counts()

Transmission
Automatic    12971
Manual        1852
-              171
Name: count, dtype: int64

In [29]:
df = df[df["Transmission"]=="Automatic"]
df

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
5,Toyota,2004.0,Estima,ON FOUR WHEELS,2004 Toyota Estima T EDITION,USED,Automatic,-,Other,Unleaded,-,160230,Grey / -,"Saint Marys, NSW",-,Commercial,NaN,NaN,9990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16728,Nissan,2021.0,Qashqai,SUV,2021 Nissan Qashqai TI,USED,Automatic,"4 cyl, 2 L",Front,Unleaded,6.9 L / 100 km,32977,White / -,"Rocklea, QLD",4 cyl,SUV,4 Doors,5 Seats,36770
16729,Toyota,2014.0,Alphard,SYC Cars,2014 Toyota Alphard,USED,Automatic,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16732,Mercedes-Benz,2016.0,GLC250,SUV,2016 Mercedes-Benz GLC250,USED,Automatic,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,Sedan,2021 Mercedes-Benz C200,USED,Automatic,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [30]:
df["Car/Suv"] = df["Car/Suv"].str.contains("SUV").astype(int)
df
# 0 nao suv
# 1 suv

/tmp/ipykernel_8904/73752396.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Car/Suv"] = df["Car/Suv"].str.contains("SUV").astype(int)

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
1,MG,2022.0,MG3,0,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,0,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,0,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,1,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
5,Toyota,2004.0,Estima,0,2004 Toyota Estima T EDITION,USED,Automatic,-,Other,Unleaded,-,160230,Grey / -,"Saint Marys, NSW",-,Commercial,NaN,NaN,9990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16728,Nissan,2021.0,Qashqai,1,2021 Nissan Qashqai TI,USED,Automatic,"4 cyl, 2 L",Front,Unleaded,6.9 L / 100 km,32977,White / -,"Rocklea, QLD",4 cyl,SUV,4 Doors,5 Seats,36770
16729,Toyota,2014.0,Alphard,0,2014 Toyota Alphard,USED,Automatic,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,0,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16732,Mercedes-Benz,2016.0,GLC250,1,2016 Mercedes-Benz GLC250,USED,Automatic,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,0,2021 Mercedes-Benz C200,USED,Automatic,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [31]:
df["DriveType"].value_counts()

DriveType
Front    5606
AWD      2578
4WD      2315
Rear     1766
Other     706
Name: count, dtype: int64

In [32]:
columns_to_delete = ['UsedOrNew', 'Transmission']
df.drop(columns=columns_to_delete, inplace=True)

/tmp/ipykernel_8904/2570791619.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_delete, inplace=True)

In [33]:
df

,Brand,Year,Model,Car/Suv,Title,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
1,MG,2022.0,MG3,0,2022 MG MG3 Auto Excite (with Navigation),"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,0,2022 BMW 430I M Sport,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,0,2011 Mercedes-Benz E500 Elegance,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,1,2022 Renault Arkana Intens,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
5,Toyota,2004.0,Estima,0,2004 Toyota Estima T EDITION,-,Other,Unleaded,-,160230,Grey / -,"Saint Marys, NSW",-,Commercial,NaN,NaN,9990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16728,Nissan,2021.0,Qashqai,1,2021 Nissan Qashqai TI,"4 cyl, 2 L",Front,Unleaded,6.9 L / 100 km,32977,White / -,"Rocklea, QLD",4 cyl,SUV,4 Doors,5 Seats,36770
16729,Toyota,2014.0,Alphard,0,2014 Toyota Alphard,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,0,2012 Mercedes-Benz S-Class CDI BlueTEC,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16732,Mercedes-Benz,2016.0,GLC250,1,2016 Mercedes-Benz GLC250,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,0,2021 Mercedes-Benz C200,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [34]:
df['FuelType'].value_counts()

FuelType
Unleaded    5846
Diesel      3634
Premium     2583
Hybrid       543
-            249
Electric      64
Other         34
LPG           15
Leaded         3
Name: count, dtype: int64

In [35]:
df.drop(columns=['FuelType'], inplace=True)

/tmp/ipykernel_8904/3272922452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['FuelType'], inplace=True)

In [36]:
df

,Brand,Year,Model,Car/Suv,Title,Engine,DriveType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
1,MG,2022.0,MG3,0,2022 MG MG3 Auto Excite (with Navigation),"4 cyl, 1.5 L",Front,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,0,2022 BMW 430I M Sport,"4 cyl, 2 L",Rear,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,0,2011 Mercedes-Benz E500 Elegance,"8 cyl, 5.5 L",Rear,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,1,2022 Renault Arkana Intens,"4 cyl, 1.3 L",Front,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
5,Toyota,2004.0,Estima,0,2004 Toyota Estima T EDITION,-,Other,-,160230,Grey / -,"Saint Marys, NSW",-,Commercial,NaN,NaN,9990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16728,Nissan,2021.0,Qashqai,1,2021 Nissan Qashqai TI,"4 cyl, 2 L",Front,6.9 L / 100 km,32977,White / -,"Rocklea, QLD",4 cyl,SUV,4 Doors,5 Seats,36770
16729,Toyota,2014.0,Alphard,0,2014 Toyota Alphard,-,Front,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,0,2012 Mercedes-Benz S-Class CDI BlueTEC,-,Rear,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16732,Mercedes-Benz,2016.0,GLC250,1,2016 Mercedes-Benz GLC250,"4 cyl, 2 L",AWD,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,0,2021 Mercedes-Benz C200,"4 cyl, 2 L",Rear,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [40]:
df.drop(columns=['Title', 'FuelConsumption', 'ColourExtInt', 'BodyType'], inplace=True)

/tmp/ipykernel_8904/1602026994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Title', 'FuelConsumption', 'ColourExtInt', 'BodyType'], inplace=True)

In [41]:
df

,Brand,Year,Model,Car/Suv,Engine,DriveType,Kilometres,Location,CylindersinEngine,Doors,Seats,Price
1,MG,2022.0,MG3,0,"4 cyl, 1.5 L",Front,16,"Brookvale, NSW",4 cyl,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,0,"4 cyl, 2 L",Rear,8472,"Sylvania, NSW",4 cyl,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,0,"8 cyl, 5.5 L",Rear,136517,"Mount Druitt, NSW",8 cyl,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,1,"4 cyl, 1.3 L",Front,1035,"Castle Hill, NSW",4 cyl,4 Doors,5 Seats,34990
5,Toyota,2004.0,Estima,0,-,Other,160230,"Saint Marys, NSW",-,NaN,NaN,9990
...,...,...,...,...,...,...,...,...,...,...,...,...
16728,Nissan,2021.0,Qashqai,1,"4 cyl, 2 L",Front,32977,"Rocklea, QLD",4 cyl,4 Doors,5 Seats,36770
16729,Toyota,2014.0,Alphard,0,-,Front,66000,"Rocklea, QLD",-,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,0,-,Rear,117432,"Port Melbourne, VIC",-,NaN,NaN,39888
16732,Mercedes-Benz,2016.0,GLC250,1,"4 cyl, 2 L",AWD,85525,"Albion, QLD",4 cyl,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,0,"4 cyl, 2 L",Rear,31852,"Yatala, QLD",4 cyl,4 Doors,5 Seats,65888